.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 1px solid #ffffff;
}
.title {
    color: rgb(187, 145, 238);
    margin-left: 16px;
}
